body{
    font-family: Roboto, Calibri, 'Times New Roman';
    display: flex;
    flex-direction: column;
    margin: 0;
}

.hero{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 16px;
}

.hero-header{
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    align-items: center;
    justify-content: space-around;
}


.hero-body{
    display: flex;
    justify-content: center;
    padding: 48px;
}

.hero-body-container1{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 400px;
    gap: 16px;
}

.hero-body-container1 button{
    align-self: flex-start;
    background-color: #3882FE;
    color: white;
    padding: 4px;
    width: 100px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.hero-body-container2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    flex-grow: 1;
    max-width: 400px;
    padding: 0;
}
.hero-main-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.hero-sec-text{
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}


ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.information-container{
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
}

.info-title{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    align-self: center;
}

.card-container{
    display: flex;
    justify-content: center;

    gap: 16px;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    text-align: center;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 1px solid #3882FE;
    border-radius: 10px;
}

.inspiration-container{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 48px;
}

.insp-box1{
    display: flex;
    align-self: center;
    font-size: 36px;
    width: 800px;
    flex-grow: 1;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
}

.insp-box2{
    display: flex;
    margin: auto;
    font-weight: 900;
}

.cta-container-parent{
    display: flex;
    background-color: white;
    padding: 48px;
}

.cta-container{
    display: flex;
    background-color: #3882FE;
    flex: 1;
    padding: 48px;
    justify-content: space-around;
}

.cta-text1{
    font-weight: 900;
    color: white;
}

.cta-text2{
    color: white;
}

.cta-box2 button{
    background-color: #3882FE;
    color: white;
    padding: 4px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
    font-weight: bold;
}


